@charset "utf-8";
/* CSS Document */

body
{
	/* background-color:#FFFBE1; */
	background-repeat:no-repeat;
	background-size:100%;
	
	margin:0px;
}
.tudo
{
	background-color:#FFFBE1;
	
	width:44%;
	height:65%;
	
	position:absolute;
}
.tudo-mobile
{
	background-color:#FFFBE1;
	
	width:44%;
	height:62%;
	
	position:absolute;
}
.topo
{
	background-color:#FFFBE1;
	width:100%;
	height:10%;
}
.topo-ico
{
	float:left;
	
	width:13%;
	height:100%;
	background-image:url(../img/logo-200x200.png);
	background-size:100% 100%;

	
}
.topo-texto
{
	float:left;
	
	width:78%;
	height:100%;
	
}
.topo-texto-conteudo
{
		position:relative;
	
	float:left;
	background-image:url(../img/text-top.png);
	background-repeat:no-repeat;
	top:50%;
	margin-top:-8px;
	

	width:100%;
	height:100%;
}
.topo-ico-menu
{
	float:left;
	
	width:9%;
	height:100%;
	background-image:url(../img/ico-menu.png);
	background-size:100% 100%;
}


.menu
{
	background-image:url(../img/bg-menu.png);
	background-size:100% 100%;
	background-repeat:repeat-x;
	width:100%;
	height:10%;
}
.menu-destaque
{
	float:left;
	width:33.33%;
	height:100%;
	background-image:url(../img/ico-destaques.png);
	background-size:100% 100%;
	
}
.menu-destaque-selected
{
	float:left;
	width:33.33%;
	height:100%;
	background-image:url(../img/ico-destaques-selected.png);
	background-size:100% 100%;
	
}

.menu-baixados
{
	float:left;
	width:33.33%;
	height:100%;
	background-image:url(../img/ico-baixados.png);
	background-size:100% 100%;
	
}
.menu-baixados-selected
{
	float:left;
	width:33.33%;
	height:100%;
	background-image:url(../img/ico-baixados-selected.png);
	background-size:100% 100%;
	
}

.menu-recentes
{
	float:left;
	width:33.33%;
	height:100%;
	background-image:url(../img/ico-recentes.png);
	background-size:100% 100%;
	
}
.menu-recentes-selected
{
	float:left;
	width:33.33%;
	height:100%;
	background-image:url(../img/ico-recentes-selected.png);
	background-size:100% 100%;
	
}



.corpo
{
	width:100%;
	height:70%;
	
	overflow: auto;
	
	
}
.corpo-item
{
	float:left;
	
	width:90%;
	height:25%;

	background-size:100% 100%;
	
	position:relative;
	margin-top:10px;
	left:5%;
}
.corpo-item-img
{

	float:left;
	
	width:30%;
	height:90%;
	background-color:#FFFFFF;
	background-image:url(../img/logo-440x440.png);
	background-size:100% 100%;
	background-repeat:no-repeat;
	
	margin:1%;
}
.corpo-item-text
{

	float:left;
	
	width:65%;
	height:65%;

	background-size:100% 100%;
	background-repeat:no-repeat;
	
	margin:1%;
	
	font-family:Arial;
	font-size:10.0px;
	font-weight:bold;
}
.corpo-item-text-mobile
{
	
	float:left;
	
	width:65%;
	height:65%;

	background-size:100% 100%;
	background-repeat:no-repeat;
	
	margin:1%;
	
	font-family:Arial;
	font-size:20.0px;
	font-weight:bold;
	
}
.corpo-item-subtitle
{
	float:left;
	
	width:65%;
	height:35%;

	background-size:100% 100%;
	background-repeat:no-repeat;
	
	margin:1%;
	
	font-family:Arial;
	font-size:9.5px;
}
.corpo-item-subtitle-mobile
{
	float:left;
	
	width:65%;
	height:35%;

	background-size:100% 100%;
	background-repeat:no-repeat;
	
	margin:1%;
	
	font-family:Arial;
	font-size:20px;
}
.rodape
{
	background-image:url(../img/rodape.fw.png);
	background-repeat:repeat-x;
	background-size:auto 100%;
	width:100%;
	height:10%;
}